SECRET_KEY=gizli-rastgele-anahtar-buraya-yaz

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

GOOGLE_SHEETS_ID=
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}

GEMINI_API_KEY=
